<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio Match</title>
</head>
<body>

<h2 id="titolo"></h2>

<div id="info"></div>

<h3>Eventi</h3>
<ul id="eventi"></ul>

<script>

    //recupero id dall'URL
const params = new URLSearchParams(window.location.search);
const matchId = parseInt(params.get("id"));

// websockett
const socket = new WebSocket("ws://localhost:2000/ws");

socket.onmessage = function (event) {
    const data = JSON.parse(event.data);

    // unisco tutte le liste
    const tutteLePartite = [
        ...data.programmati,
        ...data.live,
        ...data.terminati
    ];

    // cerco la partita giusta
    const match = tutteLePartite.find(p => p.id === matchId);

    if (match) {
        renderMatch(match);
    }
};

function renderMatch(p) {
    const titolo = document.getElementById("titolo");
    const info = document.getElementById("info");
    const eventi = document.getElementById("eventi");

    const stato = p.iniziata ? "LIVE" : "TERMINATO";
    const tempo = p.tempo ? `${p.tempo}'` : "";

    titolo.textContent = `${getSportIcon(p.sport)} ${p.squadre} (${stato})`;

    info.innerHTML = `
        Punteggio: ${p.punti} <br>
        Tempo: ${tempo} <br>
        Ammonizioni: ${p.
